/* Breakpoints by min values*/

$mobileBP: 360px;
$tabletBP: 576px;
$laptopBP: 768px;
$desktopBP: 992px;

/* Colors */

$action-color: #006666;
$active-color: #00EAD9;

/* Fonts */

/* Shadows */
$default-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);

/* transitions */
$default-duration-func: ease-in-out;
$default-duration: .2s;
